<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dobrošli na site ULICA.BA, <%= @user.name %></h1>
    <p>
      Uspješno ste se registrovali na ULICA.BA.
    </p>
    <p>
      Da prijavite probleme u Vašem gradu, koristite sljedeći link: <%= @url %>.
    </p>
    <p>Dobrodošli u naš tim!</p>
  </body>
</html>