<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= image_tag image_path('ssg_logo.png'), :alt => "SSG Logo" %>
     <p>Poštovani,</p><br>
    <p>Kreiran vam je korisnički nalog na portalu Ulica.ba</p>
    <p>
    Da bi ste počeli koristiti usluge portala Ulica.ba, morate postaviti šifru. <br />Šifru možete postaviti na sljedećem linku: <a href="<%= @url %>" target="_blank">Postavi šifru</a>
    </p>
    <p>
    Također to možete uraditi tako što ćete unijeti sljedeći link u Vaš browser: <%= @url %>
    </p><br>
    <p style="font-weight: bold; text-decoration: underline;">
    Vaši podaci
    </p>
    <p><b>Korisničko ime:</b> <%= @user.username %></p>
    <br>
    <p><strong>Copyright 2013 ULICA.ba by Sredi Svoj Grad &amp; CPCD.</strong><br>
      <a href="http://ssg-dev.herokuapp.com//" target="_blank">http://ssg-dev.herokuapp.com/</a>
    </p>
    <br><br><br>
    <p>Ovo je generička e-mail poruka i ne odgovarajte na nju.</p>
  </body>
</html>