<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
  </head>
  <body>
  <table style="background-color: #E3E3E3; padding: 40px; width: 600px; height: 300px;">
    <tr>
      <td colspan="2" style="background-color: white; height: 50px; margin-bottom: 15px; padding: 10px 25px 10px 25px;">
        <span>Obavjestenje,</span><br />
        <span>Kreiran je problem za općinu <%=@city.name%>.</span>
      </td>
    </tr>
    <tr>
      <td rowspan="2" style="width: 100px; height: 100px; margin-right: 15px;">
        <%= image_tag image_path('logo-ulica.png'), :alt => "ULICA.BA Logo" %>
      </td>
      <td style="height: 45px; background-color: white; padding-top: 10px; padding-bottom: 10px; margin-bottom: 15px; text-align: center;">
        <%= link_to 'Pogledajte Problem', @url, :style => 'font-size: 30; text-decoration: none; color: #9dcc39;' %>
      </td>
    </tr>
    <tr>
      <td><span>2013-2014 ULICA.BA by Sredi Svoj Grad &amp; CPCD</span></td>
    </tr>
  </table>
  </body>
</html>
