<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= image_tag image_path('logo-ulica.png'), :alt => "ULICA.ba Logo" %>
     <p>Dear User,</p><br>
    <p>Your account has been created on portal Ulica.ba</p>
    <p>
    To start using our portal Ulica.ba, you need to setup your password. <br />Your password can be set on following link: <a href="<%= @url %>" target="_blank">Set Password</a>
    </p>
    <p>
    Also you can copy/paste following link in your browser: <%= @url %>
    </p><br>
    <p style="font-weight: bold; text-decoration: underline;">
    Your account data
    </p>
    <p><b>Username:</b> <%= @user.username %></p>
    <br>
    <p><strong>Copyright 2013 ULICA.ba by Sredi Svoj Grad &amp; CPCD.</strong><br>
      <a href="http://ssg-dev.herokuapp.com//" target="_blank">http://ssg-dev.herokuapp.com/</a>
    </p>
    <br><br><br>
    <p>This email is generic and you should not reply to it.</p>
  </body>
</html>