<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= image_tag image_path('logo-ulica.png'), :alt => "ULICA.BA Logo" %>
     <p>Dear User,</p><br>
    <p>
    Your request for password restart had been received, password can be changed of following link: <a href="<%= @url %>" target="_blank">Set New Password</a>
    </p>
    <p>
    Also you can copy/paste following link in your browser:: <%= @url %>
    </p><br>
    <p style="font-weight: bold; text-decoration: underline;">
    Your account data
    </p>
    <p><b>Email:</b> <%= @user.email %></p>
    <br>
    <p><strong>Copyright 2013 ULICA.BA by Sredi Svoj Grad &amp; CPCD.</strong><br>
    </p>
    <br><br><br>
    <p>This email is generic and you should not reply to it.</p>
  </body>
</html>