<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />	
  </head>
  <body>
	<table style="background-color: #E3E3E3; padding: 40px; width: 600px; height: 300px;">
		<tr>
			<td colspan="2" style="background-color: white; height: 50px; margin-bottom: 15px; padding: 30px 25px 0px 25px;">
				<span>Zdravo i dobrodošli na Ulica.ba! Prije nego što počnete molimo Vas da potvrdite vašu email adresu pomoću linka ispod.</span>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width: 100px; height: 100px; margin-right: 15px;">
				<%= image_tag image_path('logo-ulica.png'), :alt => "ULICA.ba Logo" %>
			</td>
			<td style="height: 45px; background-color: white; padding-top: 20px; margin-bottom: 15px; text-align: center;">
				<%= link_to 'Verificirajte email adresu', @url, :style => 'font-size: 30; text-decoration: none; color: #9dcc39;' %>
			</td>
		</tr>
		<tr>

			<td><span>Copyright 2013 ULICA.ba by Sredi Svoj Grad &amp; CPCD</span></td>
		</tr>
	</table>
  </body>
</html>
