<div class="issue-container-green">
  <% @issue.updates.order('created_at').each_with_index do |update| %>
    <div style="margin-bottom:15px;">
        <span style="font-size:28px; font-weight:bold;"><%=update.subject%></span><br/>
        <span style="font-size:10px; font-style:italic;"><%=update.updated_at.strftime("%d %b. %Y")%> [<%=link_to update.user.username, user_path(update.user.id)%>]</span>
    </div>
    <%= update.text%>
    <br/><br/>
  <% end %>
</div>
