<tr>
  <td colspan="2">
    <div class='update'>
      <p class='update-subject'><%=update.subject%></p>
      <p class='update-header'><%=update.created_at.strftime("%d %b. %Y")%> [<%=update.user.full_name %>]</p>
      <div class='update-text'>
        <%= raw update.text %>
    </div>
    </div>
  </td>
</tr>
