<div class="footer-menu">
	<%= link_to(t('shared.footer.privacy'), privacy_path)%><span>|</span>
  <%= link_to(t('shared.footer.tos'), terms_path)%>  <span>|</span>
  <%= link_to(t('shared.footer.help'), faq_path) %>  <span>|</span>
	<%= link_to(t('shared.footer.contact'), contact_path)%>
</div>
<div class="copyright-menu">
  <span>All rights reserved. Copyright 2012 SSG - Sredi Svoj Grad.</span>
</div>
