<ul class="footer-menu">
	<li><%=t('shared.footer.tos')%></li>
	<li><%=t('shared.footer.help')%></li>
	<li><%=t('shared.footer.advertise')%></li>
	<li class="last"><%=t('shared.footer.contact')%></li>
</ul>