<ul class="footer-menu">
	<li><%= link_to(t('shared.footer.privacy'), privacy_path)%></li>
	<li><%= link_to(t('shared.footer.tos'), terms_path)%></li>
	<li><%= link_to(t('shared.footer.help'), faq_path) %></li>
	<li class="last"><%= link_to(t('shared.footer.contact'), contact_path)%></li>
</ul>