<ul style="margin:0 auto; width: 500px; display:block; list-style:none; line-height:20px;">
	<li style="float:left;padding:5px;"><%=link_to 'SSG', issues_path() %></li>
	<li style="float:left;padding:5px;"><%=link_to 'Prijavi problem', new_issue_path() %></li>
	<li style="float:left;padding:5px;">Gradovi</li>
	<li style="float:left;padding:5px;"><form><input type="text" name="srch"/><input type="submit"/></form></li>
</ul>
