<div class="documents">
	<p>FAQ</p>
	<div class="sticky-sidebar">
		<aside>
			<ul class="plain-list">
				<li><a href="#faq">About SSG</a></li>
				<li><a href="#practical">Practical Questions</a></li>
				<li><a href="#organisation">Organisation Questions</a></li>
				<li><a href="/privacy">Privacy and cookies</a></li>
			</ul>
		</aside>
	</div>
	<h1><a name="faq"></a>About SSG</h1>
	<dl>
		<dt>What is SrediSvojGrad?</dt>
		<dd>AWe are social community that wants to provide its citizens life in nicer environment.</dd>
		<dt>Who are the creators of SrediSvojGrad?</dt>
		<dd>Group of citizens......</dd>
		<dt>How can you contact us?</dt>
		<dd>Use this contact form (ADD LINK -WHEN CONTACT FORM CREATED)</dd>	
	</dl>
</div>