<div class="documents">
	<div class="breadcrumb-container">SSG / <span>FAQ</span></div>
	<div id="content">
		<p class="header"><a name="about_ssg">About SSG</p>
		<p class="question">What is SrediSvojGrad?</p>
		<p class="answer">We are social community that wants to provide its citizens life in nicer environment.</p>
		<p class="question">Who are the creators of SrediSvojGrad?</p>
		<p class="answer">Group of citizens......</p>
		<p class="question">How can you contact us?</p>
		<p class="answer">Use this contact form (ADD LINK -WHEN CONTACT FORM CREATED)</p>

		<p class="header"><a name="how_to">How to use SSG</p>

		<p class="question">How do I add a new issue?</p>
		<p class="answer">Click on report a problem, if you are a new user please see instructions on how to become user question,  ...</p>
		<p class="question">Can everybody create/update an issue?</p>
		<p class="answer">Only registered users can create/update an issue</p>
		<p class="question">Can I comment on an issue?</p>
		<p class="answer">dummy</p> 
		<p class="question">How does the municipality gets informed?</p>
		<p class="answer">dummy</p>
		<p class="question">What does the status "open", "in progress" and "closed" mean?</p>
		<p class="answer">dummy</p> 
		<p class="question">How do I know an issue has been resolved?</p>
		<p class="answer">dummy</p>
		<p class="question">Who gets to see my name and email address when I add an issue?</p>
		<p class="answer">For a better coorporation between you and your municipality, the information you add when adding an issue will be send to the referenced municipality. Your Display name will be the only information shown to other users.</p>
		<p class="question">Do you edit/remove inappropriate information?</p>
		<p class="answer">SrediSvojGrad reserves the right to edit or remove any issues, updates or comments which are considered to be inappropriate. 
		SrediSvojGrad accepts no responsibility for the content and accuracy of issues submitted by its users.</p>

		<p class="header"><a name="other">Other</p>
		<p class="question">How to involve my municipality?</p>
		<p class="answer">dummy</p> 
		<p class="question">Are their additional features which can be used by a municipality?</p>
		<p class="answer">dummy</p> 
	</div>
	<div id="table-of-contents">
		<p class="list"><a href="#about_ssg">About SSG</a></p>
		<p class="list"><a href="#how_to">How to use SSG</a></p>
		<p class="list"><a href="#other">Other</a></p>
	</div>
</div>