<div class="documents">
	<p>FAQ</p>
	<div class="sticky-sidebar">
		<aside>
			<ul class="plain-list">
				<li><a href="#about_ssg">About SSG</a></li>
				<li><a href="#how_questions">How Questions</a></li>
				<li><a href="#other">Other..</a></li>
			</ul>
		</aside>
	</div>
	<h1><a name="faq"></a>About SSG</h1>
	<dl>
		<dt>What is SrediSvojGrad?</dt>
		<dd>We are social community that wants to provide its citizens life in nicer environment.</dd>
		<dt>Who are the creators of SrediSvojGrad?</dt>
		<dd>Group of citizens......</dd>
		<dt>How can you contact us?</dt>
		<dd>Use this contact form (ADD LINK -WHEN CONTACT FORM CREATED)</dd>	
	</dl>
	<h1><a name="faq"></a>How Questions</h1>
	<dl>
		<dt>Who gets to see my name and email address when I add an issue?</dt>
		<dd>For a better coorporation between you and your municipality, the information you add when adding an issue will be send to the referenced municipality. Your Display name will be the only information shown to other users.</dd>
		<dt>Do you edit/remove innapropriate information?</dt>
		<dd>SrediSvojGrad reserves the right to edit or remove any issues, updates or comments which are considered to be innapropriate. 
SrediSvojGrad accepts no responsibility for the content and accuracy of issues submitted by its users.</dd>
	</dl>
</div>