/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require boot
 *= require bootstrap-colorpicker
 *= admin_basescript 
*/

.no-lines td {
  border-top: 0px !important;
}

.update {
  padding-top: 21px;
  margin-top: 20px;
  border-top: 1px solid #eee;

  &.is-current {
    background-color: #eee;
  }
}

.update-subject {
  font-size: 20px;
  margin: 0 0 4px 0;
}

.update-header {
  font-size: 8px;
  margin: 0;
}

.gallery-container {
  height: 50px;
  padding-top: 15px;
  width: 100%;
  overflow-y:auto;
}

#gallery {
  float: left;
  margin: 0;
}

.upload-preview {
	float:left;
	margin-right:2px;
}
