$font-family : 'Arial';
$font-size   : 12px;

$background-color : #cfcfcf;
$color-green : #9ecc3b;
$color-gray  : #a2a2a2;

html, body {
	margin: 0px;
	padding: 0px;
	height:100%;
	font-family: $font-family;
	color:black;
	font-size: $font-size;
	background-color: $background-color;
}
a {
	cursor: hand; /*IE*/
	cursor: pointer; /*Rest*/
	text-decoration:none;
}
ul {
	padding:0px;
}
hr{
	color:#ccc;
	border-top:	1px solid #ccc;
	height: 0px;
	margin: 0px;
	color: #ccc;
	border-bottom: none;
	border-right: none;
	border-left: none;
}
.input-texts {
	border:1px solid $color-gray;
	width: 100%;
	font-size:13px;
	color:#4d4d4d;
	margin: 10px 0 10px 0;
}
input[type="text"] {
	height: 26px;
	@extend .input-texts;
}
input[type="password"] {
	height: 26px;
	@extend .input-texts;
}
textarea {
	@extend .input-texts;	
}
.font-green {
	color:#9ecc3b;
}
.font-black {
	color:black;
}
.font-gray {
	color:$color-gray;
}
.font-bold {
	font-weight:bold;
}
.font-11 {
	font-size:11px;
}
.font-12 {
	font-size:12px;
}
.font-13 {
	font-size:13px;
}
.font-14 {
	font-size:14px;
}
.font-15 {
	font-size:15px;
}
.font-17 {
	font-size:17px;
}
.font-18 {
	font-size:18px;
}
.font-19 {
	font-size:19px;
}
.font-20 {
	font-size:20px;
}
#main-menu {
	margin: 10px auto 0 auto;
	width:990px;
	height:140px;
	background-color:#f9f9f9;
	box-shadow:0px 0px 10px #999;
}
#menu-list {
	list-style:none;
	width:810px;

	.menu-sub {
		float:left;
		padding:8px;
		font-weight:bold;
	}

	.selection {
		margin-top:5px;
		height:1px; 
		background-color:#9ecc3b;
	}
}

.menu-selected {
	color: $color-green;
	font-weight:bold;
}
.r-menu-selected {
	color: $color-green;
	font-weight:bold;
}
#main {
	margin: 5px auto 0 auto;
	background-color:#f9f9f9;
	width:990px;
	box-shadow:0px 0px 10px #999;
}
#footer {
	margin: 3px auto 0 auto;
	background-color:#040500;
	width:990px;
	height: 100px;
	border-top:1px solid black;
	box-shadow:0px 0px 10px #999;
}

.footer-menu {
	margin-top:30px;
	list-style:none;
	color: $color-green;
	margin:0 auto;
	width: 500px;

	li {
		float:left;
		padding:5px 10px 5px 10px;

		a {
			color: $color-green;		
		}
	}
}

#issues_left_column {
	float:left; 
	width:685px;
	padding:20px;
}
#issues_right_column {
	float:left; 
	width:200px; 
	padding:20px;
}
.filter {
	width:95px;
	float:left;
	margin-top:10px;
	font-size:13px;
}

.issue {
	float:left;
	width:204px;
	height: 302px;
	margin:12px;
	box-shadow:0px 0px 5px #ccc;
	background-color:white;
}
.issue-img-part {
	padding:3px;
}
.issue-info-part {
	height:66px;
}

.issue-category-part {
	height:31px;
}
.issue-share-part {
	padding:7px; 
	background-color:#f6f6f6; 
	height:20px;	
}
.info-link:hover {
	text-decoration:none;
}
.issue-info-title {
	position:relative; 
	overflow:hidden;
	white-space:nowrap;
	width:180px;
	left:10px; 
	height:15px;
	width:180px;
	overflow:hidden;
	white-space:nowrap;
	
}
.issue-info-name {
	position:relative; 
	overflow:hidden;
	white-space:nowrap;
	width:180px;
	left:10px; 
	top:3px;
	height:15px;
	width:180px;
	overflow:hidden;
	white-space:nowrap;
}
.issue-info-loc {
	position:relative; 
	left:10px; 
	top:16px;	
}

.btn_green {
	height:36px;
	line-height:36px;
	padding:0 30px 0 30px;
	border:1px solid white;
	background-color:#9ecc3a;
	font-size:14px;
	color:white;
	display:inline-block;
	&:hover {
		border:1px solid #dddddd;
	}
}
// upload
.upload-preview {
	float:left; 
	margin-right:2px; 
}
.bar {
    height: 8px;
    background: white;
}
// Issue show
.issue-container {
	float:left; 
	width:680px;
}
.issue-container-green {
	padding:40px;	
	background-color:$color-green;
	color:white;
}
.issue-cell {
	margin-bottom:10px;
}
.login-container {
	float:left;
	width:278px;
	padding: 40px 25px 0 25px;
	height:470px;

	#register-wrapper {
		background-color:$color-green;
		padding: 20px 30px 10px 30px;
		color: white;
	}
}
.issue-cell-title {
	font-size:24px; 
	font-style:italic; 
}
// breadcrumbs
.breadcrumb-container {
	font-size:14px; 
	margin-bottom:10px;
}
.breadcrumb-container span {
	color: $color-green;
}

.documents {
	padding: 30px;
	display: inline-block;

	.header {
		color: $color-green;
		font-size:18px; 
		font-weight:bold;
	}

	.question {
		font-size:12px; 
		font-weight:bold;
	}

	.answer {
		font-size:12px; 
	}
	
	.list {
		font-size: 16px;
		font-weight: bold;
		color:white;
	}

	#content {
		width: 70%;
		padding: 30px;
		float: left;
	}

	#table-of-contents {
		padding: 30px;
		background: $color-green;
		float: left;

	}
}

.contact-form {
	padding: 30px;
	display: inline-block;

	#contact-details {
		float:center;
		width:524px;
		padding: 10px;
		height:470px;
		background-color:$color-green;
		color: white;
	}
	#textarea-styled {
		height: 240px;
		font-family: arial;
		
	}
}


// Drop down menu
.dropdown {
	margin: 3px -22px 0 0;
	width: 103px;
	position: relative;
	height: 17px;
	text-align:left;
}
.submenu {
	background: #fff;
	position: absolute;
	top: -12px;
	left: -20px;
	z-index: 100;
	width: 135px;
	display: none;
	margin-left: 10px;
	padding: 40px 0 5px;
	border-radius: 6px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdown li a {
	color: #555555;
	display: block;
	font-family: arial;
	font-weight: bold;
	cursor: pointer;
	text-decoration:none;
	height:27px;
	line-height:27px;
	padding:6px 15px;
}

.dropdown li a:hover {
	background:#9ecc3b;
	color: #FFFFFF;
	text-decoration: none;
}
a.account  {
	line-height: 16px;
	position: absolute;
	z-index: 110;
	color: $color-gray;
	display: block;
	padding: 12px 0 0 20px;
	height: 28px;
	width: 121px;
	margin: -11px 0 0 -10px;
	text-decoration: none;
	/*background: url(icons/arrow.png) 116px 17px no-repeat;*/
	cursor:pointer;
}
.root {
	list-style:none;
	margin:0px;
	padding:0px;
	padding: 11px 0 0 0px;
	border-top:1px solid #dedede;
}

 /* WYSIWYG overrides*/
.nicEdit-main {
  background-color: white !important;
}