html, body {
	margin: 0px;
	padding: 0px;
	height:100%;
	font-family: 'Helvetica', 'Ariel';
	color:black;
	font-size:12px;
	background-color:white;
}
a {
	cursor: hand; /*IE*/
	cursor: pointer; /*Rest*/
}
ul {
	padding:0px;
}
#top_header {
	height:40px;
	border-bottom:1px solid black;
}
#main_menu {
	height:35px;
	border-bottom:1px solid black;
}
#footer {
	height: 180px;
	border-top:1px solid black;
}
#main {
	width: 1000px;
	margin: 0 auto;
}
#issues_left_column {
	float:left; 
	width:750px;
}
#issues_right_column {
	float:left; 
	width:250px; 
}
.issue {
	float:left;
	width:230px;
	height: 330px;
	margin:5px;
	background-color:#ddd;
	border-radius:9px;
	padding:5px;
}

.issue div {
	border-radius:6px;
	background-color:white;
	padding: 3px;
	height:324px;
}