@font-face {  
  font-family: "MyriadPro";  
  src: url(fonts/myriadpro-regular-webfont.eot); /* IE */  
  src: local("MyriadPro"), url(fonts/myriadpro-regular-webfont.ttf) format("truetype"); /* non-IE */  
}
@font-face {  
  font-family: "MyriadProBold";  
  src: url(fonts/myriadpro-semibold-webfont.eot); /* IE */  
  src: local("MyriadProBold"), url(fonts/myriadpro-semibold-webfont.ttf) format("truetype"); /* non-IE */  
}

html, body {
	margin: 0px;
	padding: 0px;
	height:100%;
	font-family: 'Helvetica', 'Ariel';
	color:black;
	font-size:12px;
	background-color:#eee;
}
a {
	cursor: hand; /*IE*/
	cursor: pointer; /*Rest*/
	color:white;
}
#container {
	margin: 0 auto;
}