html, body {
	margin: 0px;
	padding: 0px;
	height:100%;
	font-family: 'Helvetica', 'Ariel';
	color:black;
	font-size:12px;
	background-color:#cfcfcf;
}
a {
	cursor: hand; /*IE*/
	cursor: pointer; /*Rest*/
	text-decoration:none;
}
a:hover {
	text-decoration: underline; 
}
ul {
	padding:0px;
}
hr{
	color:#a2a2a2;
	border-top:	1px solid #a2a2a2;
	height: 0px;
	margin: 0px;
	color: #a2a2a2;
	border-bottom: none;
	border-right: none;
	border-left: none;
}
input[type="text"] {
	border:1px solid #a2a2a2;
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#a2a2a2;
}
.font-green {
	color:#9ecc3b;
}
.font-black {
	color:black;
}
.font-gray {
	color:#a2a2a2;
}
.font-bold {
	font-weight:bold;
}
.font-10 {
	font-size:10px;
}
.font-12 {
	font-size:12px;
}
.font-14 {
	font-size:14px;
}
.font-16 {
	font-size:16px;
}

#main-menu {
	margin: 10px auto 0 auto;
	width:990px;
	height:140px;
	background-color:#f9f9f9;
	box-shadow:0px 0px 10px #999;
}
#menu-list {
	list-style:none;
}
#menu-list li {
	float:left;
	padding:8px;
}
.menu-selected {
	color:#9ecc3b;
	font-weight:bold;
}
.r-menu-selected {
	color:#9ecc3b;
	font-weight:bold;
}
#main {
	margin: 10px auto 0 auto;
	background-color:#f9f9f9;
	width:990px;
	box-shadow:0px 0px 10px #999;
}
#footer {
	margin: 3px auto 0 auto;
	background-color:#040500;
	width:990px;
	height: 100px;
	border-top:1px solid black;
	box-shadow:0px 0px 10px #999;
}

.footer-menu {
	margin-top:30px;
	list-style:none;
	color:#9ecc3b;
	margin:0 auto;
	width: 500px;
}
.footer-menu li {
	float:left;
	padding:5px 10px 5px 10px;
}

#issues_left_column {
	float:left; 
	width:685px;
	padding:20px;
}
#issues_right_column {
	float:left; 
	width:200px; 
	padding:20px;
}
.filter {
	width:95px;
	float:left;
	margin-top:10px;
	font-size:12px;
}

.issue {
	float:left;
	width:204px;
	height: 302px;
	margin:7px;
	box-shadow:0px 0px 5px #ccc;
	background-color:white;
}
.issue-img-part {
	padding:3px;
}
.issue-info-part {
	height:66px;
}

.issue-category-part {
	height:31px;
}
.issue-share-part {
	padding:7px; 
	background-color:#f6f6f6; 
	height:20px;	
}
.info-link:hover {
	text-decoration:none;
}
.issue-info-title {
	position:relative; 
	overflow:hidden;
	white-space:nowrap;
	width:180px;
	left:10px; 
	top:5px;	
	height:15px;
	width:180px;
	overflow:hidden;
	white-space:nowrap;
	
}
.issue-info-name {
	position:relative; 
	overflow:hidden;
	white-space:nowrap;
	width:180px;
	left:10px; 
	top:5px;
	height:15px;
	width:180px;
	overflow:hidden;
	white-space:nowrap;
}
.issue-info-loc {
	position:relative; 
	left:10px; 
	top:16px;	
}