@mixin sprite-mixin($left, $top, $width, $height) {
	background: url(sprites.png) $left $top no-repeat;
	width:$width;
	height:$height;
	float:left;
	display:block;
}

.asset-logo {
	background: url(logo-ulica-main.png) no-repeat;
	width: 95px;
	height: 95px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2) { 
         
    .asset-logo {
			background: url(logo-ulica-main.png) no-repeat;
      background-position: 0px 0px !important;
      background-repeat: no-repeat !important;
      -webkit-backgorund-size:95px 95px !important; 
      background-size: 95px 95px !important;
      -moz-background-size: 95px 95px !important;
    } 
}

.asset-learn-more-bs {
	@include sprite-mixin(0px, -129px, 92px, 17px)
}
.asset-learn-more-en {
	@include sprite-mixin(0px, -15px, 92px, 17px)
}
.asset-location {
	@include sprite-mixin(-34px, 0px, 12px, 15px)
}

.asset-location-black {
	@include sprite-mixin(-33px, 0px, 13px, 16px)
}
.asset-heart {
	@include sprite-mixin(-16px, 0px, 17px, 15px)
}
.asset-eye {
	@include sprite-mixin(0px, 0px, 17px, 15px)
}