<div class="breadcrumb-container" >
  <a href="/">ULICA.BA</a> / <span>CONTRIBUTORS</span>
</div>  

<div class="contrib-header">
  <p>
  Udruženje Sredi Svoj Grad (SSG), zajedno sa HUB387 i NEST71 su 29.03.2014 organizovali prvi Hack day u prostorijama co-working space-a NEST71. Hack day je jednodnevni susret entuzijasta koji djeluju u oblasti infomacionih tehnogija i koji žele svojim znanjima doprinijeti razvoju životne sredine radeći ono u čemu su najbolji: programiranje i razvoj novih aplikacija. Učesnici prvog Hack Day su dobrovljno radili na razvoju novih funkcionalnosti za internet platformu ULICA.BA. 
  </p>
  <p>
  Zahvaljujući njima ULICA.BA portal je bogatiji, lijepši i kvalitetniji.
  </p>

  <p>
  Hvala vam, sretni smo da ste dio Sredi Svoj Grad tima.
  </p>
</div>

<div class="contrib">
  <ul>
    <% (1..12).each do |idx|%>  
    <li><%= image_tag "contribs/contrib#{idx}.png", :style => 'width: 220px;'%></li>
    <% end %>
  </ul>
</div>

<div class="bottom-spacer">
  
</div>