var img_count = parseInt($('#image_count').val());
$('<li class="upload-preview"><img height="30" src="<%=@image.image_url%>"></li>').appendTo('#gallery');
$('<input type="hidden" name="image_' + img_count + '" value="<%=@image.id%>" />').appendTo('#gallery_inputs');
$('#image_count').val(img_count + 1);