<!DOCTYPE html>
<html>
	<head>
	  <title>Sredi svoj grad</title>
	  <meta name="description" content="Social community koji gradjanima zeli da omoguci zivot u odredjenom gradu." /> 
	  <meta name="keywords" content="sredi svoj grad, bosna, parkiranje, fasade, okolis, rasvjeta, putevi, ekologija" />
	  <%= csrf_meta_tags %>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-30569816-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
	  </script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
